header, aside, footer {
    background-color: #e3e3e3 !important;
    color: black;
}
header *, aside *, footer * {
    color: black !important;
}

footer ul li img {
  filter: invert(100%);
  -webkit-filter:invert(100%);
}