main>h1{
  text-align: center;
  color: #426E86;
  flex-basis: 100%;
  margin-top: 2.5em;
}

main{
  display: flex;
  flex-wrap: wrap;
}

/* CAROUSEL */
*, *:before, *:after {
  box-sizing: inherit;
}

#app{
  color: white;
  height: 40vh;
  flex-basis: 100%;
  margin: 1em 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
  border-radius: 5px;
  border: 1px solid #e3e6f0;
  z-index: 0;
}

#app>ion-icon{
  z-index: 0;
  border-radius: 50%;
  margin-left: 0.5rem;
}

#app>ion-icon:hover{
  cursor: pointer;
}

#app>ion-icon:active{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
  color: lightgrey;
}

.sp_page{
  z-index: -1;
}

.sp_page>section{
  padding: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5em;
}

.sp_page>section>h1{
  flex-basis: 100%;
  text-align: center;
  text-shadow: 0 1px 0 #eee, 0 2px 0 #e5e5e5, -1px 3px 0 #C8C8C8, -1px 4px 0 #C1C1C1;
}

.sp_page>section>p{
  text-align: center;
}

.sp_page:nth-child(odd){
  background-color: #eb6f63;
}

.sp_page:nth-child(even){
  background-color: #47c9af;
}

/* Animation bas de page */
main ul:not(#app)>li>ion-icon{
  position: absolute;
}

main ul:not(#app)>li{
  position: absolute;
}

main>div{
  position: absolute;
  height: 80%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

main ul:not(#app){
  height: 100%;
  width: 100%;
  padding-right: 10vw;
}
