main{
  display: flex !important;
}

main>section{
  flex-direction: inherit;
  justify-content: space-around;
  align-items: center;
}

/* LE FORMULAIRE */
main>section>form{
  display: flex;
  justify-content: center;
  align-items: center;
}

main>section>form>div{
  margin-left: 2em;
}

main>section>form>div>label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main>section>form>div>label>h3{
  margin-left: 1em;
  text-transform: none;
}

main>section>form>label>img{
  height: 20vh;
  border-radius: 50%;
  border: 1px solid #898989;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
  width: 20vh;
  transition: background-color 0.2s;
}

main>section>form>label>img:hover{
  background-color: rgba(40, 40, 40, 0.3);
}

main>section>button{
  height: min-content;
}

/* LES THEMES */
main>section>section button{
  width: 100%;
  margin: 0.5em 0 !important;
}

#formulaire_nouveauMdp{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#formulaire_nouveauMdp>label{
  margin: 1em 0 0.2em 0;
}

#formulaire_nouveauMdp>input{
  width: 100%;
}
