main>section{
  display: flex;
  flex-direction: column;
}

main>section>div:not(#message){
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

/* LE FORMULAIRE */
main>section>div>form{
  display: flex;
  justify-content: center;
  height: max-content;
}

main>section>div>form>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
}

main>section>div>form>div>label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main>section>div>form>div>label>input{
  margin-left: 1em;
}
main>section>div>form>div>label>h3{
  margin-left: 1em;
  text-transform: none;
}

main>section>div>form>label>img{
  height: 20vh;
  border-radius: 50%;
  border: 1px solid #898989;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
  width: 20vh;
}

main>section>div>section{
    margin-left: 1rem;
}

main>section>div>section>h2{
    margin-top: 0;
}

main>section>div>button{
  height: min-content;
}

/* LES THEMES */
main>section>div>section button{
  width: 100%;
  margin: 0.5em 0 !important;
}

main>section>div>form>label>img:hover{
  background-color: rgba(40, 40, 40, 0.3);
}

/* L'AIDE */
main>section>div>section:nth-child(2)>ul{
  line-height: 2em;
}

main>section>div>section:nth-child(2)>ul>li>a{
  color: #426e86;
  text-decoration: underline;
}
