main>section>ul>li>section{
  flex-wrap: nowrap;
  cursor: auto;
}

main>section>ul>li>section>h3{
  flex: 1;
  max-height: 1em;
  overflow: hidden;
}

main>section>ul{
  margin: 2em;
}

main>section>ul>li>section>p{
  flex: 1;
  overflow: inherit;
}

main>section>ul>li>section>p:nth-child(3){
  flex: 1;
}

main>section>p{
  text-align: center;
}

main>section>ul>li>ion-icon{
  color: lightgrey;
}

main>section>ul>li>ion-icon:hover{
  cursor: pointer;
  color: black;
}

#modal1>section>form{
  display: flex;
  flex-wrap: wrap;
}

#modal1>section>form>label{
  flex-basis: 100%;
  margin-bottom: 0.5em;
}

#modal1>section>form>input{
  flex: 1;
}

/* MODAL2 */
#modal2>section>ul{
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: auto;
  max-height: 50vh;
}

#modal2>section>ul>li{
  border-bottom: 1px solid lightgrey;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal2>section>ul>li:last-child{
  border: none;
}

#modal2>section>ul>li>p{
  margin: 0;
}

#modal2>section>ul>li>ion-icon{
  color: lightgrey;
  transition: color 0.2s;
  cursor: pointer;
}

#modal2>section>ul>li>ion-icon:hover{
  color: black;
}


/* Page de load */
#loading{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 1000;
}

#loading>div{
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
}

#loading>div>ion-icon{
	animation: spin 1s linear infinite;
}

@keyframes spin{
	from { transform: rotate(0deg);   opacity: 0.5; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.5; }
}

.images>li>section{
  display: flex;
  margin: 1em;
  align-items: center;
}

.images>li>section>button{
  height: min-content;
}

.images>li>section>p{
  margin-left: 1em;
}

/* MODAL */
.modal ul{
  max-height: 50vh;
  overflow: auto;
}

.modal-image ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.modal-image li{
  margin: 0.5em;
}

.modal-image ul>li>label{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image ul>li>label:hover .image{
  opacity: 0.3;
  cursor: pointer;
}

.modal-image ul>li>label:hover ion-icon{
  opacity: 1;
  cursor: pointer;
}

.modal-image ul>li>label ion-icon{
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  background-color: #333;
  color: white;
  padding: 0.5em;
  border-radius: 100%;
}
