main{
  display: flex;
  flex-wrap: wrap;
}

main canvas{
  margin: 1em;
  border-radius: 5px;
  border: 1px solid #e3e6f0;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

header>section>p{
  margin-left: 1em;
}

/* ASIDE */
main>aside{
  flex: 1;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

main>aside>section:nth-child(1)>ul>li{
  display: flex;
  margin-bottom: 1em;
}

main>aside>section:nth-child(3)>ul{
  overflow: auto;
  max-height: 9em;
}

main>aside>section:nth-child(1)>ul{
  overflow: auto;
  max-height: 6em;
}

main>aside>section:nth-child(3)>ul>li{
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.5em;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

main>aside>section:nth-child(3){
  flex: 1;
}

main>aside>section:nth-child(4){
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

main>aside>section:nth-child(4)>section{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

main>aside>section:nth-child(4)>button{
  margin: 0;
  flex-basis: 100%;
}

main>aside>section:nth-child(4)>section>div{
  display: flex;
  align-items: center;
}

aside>section>ul>li>div{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  margin-right: 0.5em;
}

main>aside>section>ul{
  margin-left: 2em;
}

main>aside>section:nth-child(2)>ul{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 6em;
}

main>aside>section:nth-child(2)>ul>li{
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.2em;
}

main>aside>section:nth-child(2)>ul>li>img, main>aside>section:nth-child(2)>ul>li>ion-icon{
  height: 2.5em;
  width: 2.5em;
}

/* MODAL */
#modal>section{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 20%;
  width: 30%;
}

#modal>section>section>div{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

#modal>section>section{
  opacity: 0.8;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
}

#modal>section>section>div>p{
  flex: 1;
  margin: 1em;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
}

#modal>section>section>div>button{
  height: min-content;
  margin: 1em;
}

#modal>section>section>p{
  flex-basis: 100%;
  height: max-content;
  font-weight: bold;
}

#modal>section>section>input{
  flex-basis: 100%;
  height: max-content;
  margin: 1em;
}

/* DESCRIPTION */
#description_salle{
  display: none;
  flex-basis: 100%;
  justify-content: center;
}
