#message{
  color: white;
  left: 0;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
}

#message>div{
  padding: 1em;
  border-radius: 5px;
  width: max-content;
  display: flex;
  align-items: center;
}

#message>div>p{
  text-align: center;
  margin: 0;
}

#message>div>ion-icon{
  margin-left: 0.5em;
}

#message>div>ion-icon:hover{
  cursor: pointer;
}

#message[couleur='rouge']>div{
  background-color: #db3b21;
}

#message[couleur='vert']>div{
  background-color: #1aaa55;
}
