/* LES 2 BOITES POUR LES LISTES */
main>section>div:not(#modal1){
  display: flex;
  margin: 1em 5em;
  flex: 1;
}

/* APPARENCE DES BOITES */
main>section>div:not(#modal1)>section{
  border: 1px solid lightgrey;
  flex: 1;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

main>section>div:not(#modal1)>form{
  flex: 1;
}

main>section>div:not(#modal1)>form>section{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

main>section>div:not(#modal1)>form{
  margin-right: 5em;
}

/* CONTENU DES BOITES */
main>section>div:not(#modal1) section>div{
  align-items: center;
}

main>section>div:not(#modal1) section>div>div{
  margin: 0;
}

main>section>div:not(#modal1) section>div>h2{
  flex: 1;
}

main>section>div:not(#modal1) section>div>h2, main>section>div:not(#modal1) section>h2{
  color: #426e86;
  text-align: center;
}

main>section>div:not(#modal1) section>ul{
  max-height: 20em;
  overflow: auto;
}

main>section>div:not(#modal1)>form>section>ul{
  max-height: 23.9em;
}

main>section>div:not(#modal1) section>ul>li{
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0 1em;
  margin: 1em 0.5em 0 0;
  justify-content: space-between;
}

main>section>div:not(#modal1) section>ul>li:hover{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

main>section>div:not(#modal1) section>ul>li>div{
  display: flex;
  align-items: center;
}

main>section>div:not(#modal1) section>ul>li>div>p{
  margin-left: 0.5em;
}

main>section>div:not(#modal1) section>ul>li>ion-icon:hover{
  color: #f9ba32;
  cursor: pointer;
}

/* La première liste d'options dans la section "étudiants inscrits" */
main>section>div:not(#modal1) section>div{
  display: flex;
  margin: 1em 0;
}

main>section>div:not(#modal1) section>div>button{
  margin: 0 !important;
  flex: 1;
}

/* LES INPUTS (animation et style) */
main>section input[type='text']{
  border: 1px solid white;
  background-color: white;
  transition: border 0.5s, box-shadow 0.4s;
}

main>section input[type="text"]:hover, main>section input[type="search"]:hover{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

main>section input[type="text"]:focus, main>section input[type="search"]:focus{
  border: 1px solid #f9ba32;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

/* modal */
#modal1>section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 main>section input[type="search"]{
  padding: 0.35em 1em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: border 0.5s, box-shadow 0.4s;
}

div#search-mode>button:first-child{
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 0 0;
}

div#search-mode>button:last-child{
  border-top-left-radius: 0 0;
  border-bottom-left-radius: 0 0;
}
