{% extends 'header-footer.html' %}

  	{% block head %}
	    <title>Page non trouvée</title>
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/bleu.css') }}" id="theme">
    {% endblock %}

    {% block header_titre %}
  	    <h3 id='header-titre'>Erreur 404</h3>
	{% endblock %}

  {% block main %}
  <section>
	<h1>La page n'a pas été trouvée</h1>
    <a href=
    {% if current_user != None and current_user.__class__.__name__ != "AnonymousUserMixin" %}
      {% if current_user.est_prof %}{{ url_for('gestion_escapes') }}
      {% else %}{{ url_for('accueil_etudiant') }}
      {% endif %}
    {% else %}{{ url_for('connexion') }}
    {% endif %}>
      <button couleur="validation">Retourner à l'accueil</button>
    </a>

  </section>
  {% endblock %}