{% extends 'header-footer.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil-prof.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
  {% block head_suplementaire %}

  {% endblock %}
{% endblock %}

{% block header_titre %}
  <h3 id="header-titre">Bonjour {{ current_user.prenom }} {{ current_user.nom }}</h3>
{% endblock %}

{% block body_onload_params %}
  initAside();
{% endblock %}

{% block main %}
  {% if current_user.est_prof == False %}
    <script type="text/javascript">
      document.location.href="404.html";
    </script>
  {% else %}
    <aside>
      <section onClick="toogleAffichage();">
        <ion-icon name="menu" size="small"></ion-icon>
        <p>Tableau de bord</p>
      </section>
      <ul id="liens">
        <li onClick="location.href='/escapes';"><ion-icon name="lock-closed" size="small"></ion-icon><a>Escapes Games</a></li>
        <li onClick="location.href='/groupes';"><ion-icon name="people" size="small"></ion-icon><a>Groupes</a></li>
        <li onClick="location.href='/etudiants';"><ion-icon name="school" size="small"></ion-icon><a>Étudiants</a></li>
        <li onClick="location.href='/enigmes';"><ion-icon name="book" size="small"></ion-icon><a>Énigmes</a></li>
        <li onClick="location.href='/statistiques';"><ion-icon name="bar-chart" size="small"></ion-icon><a>Statistiques</a></li>
        <li onClick="location.href='/profil';"><ion-icon name="person" size="small"></ion-icon><a>Profil</a></li>
      </ul>
    </aside>
    <script type='text/javascript' src="{{ url_for('static', filename='js/tableauDeBord.js') }}"></script>
    <section>
      {% if message %}
        <div id="message" couleur="{{ couleur }}">
          <div>
            <p>{{ message }}</p>
            <ion-icon name="close" size="small" onClick="fermerMessage();">
          </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/message.js') }}"></script>
      {% endif %}
      {% block contenu_onglet %}

      {% endblock %}
    </section>
  {% endif %}
{% endblock %}




