{% extends 'header-footer.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/connexion.css') }}">
  <title>Connexion</title>
{% endblock %}

{% block header_titre %}
  <h3 id="header-titre">Se connecter</h3>
{% endblock %}

{% block header_liens %}
  <li><a href="/"><ion-icon name="film" size="small"></ion-icon>Découvrir</a></li>
{% endblock %}

{% block main %}
  <div>
    <img src="{{ url_for('static', filename='images/logo.png') }}" />
    <form action="{{ url_for('connexion') }}" method="POST" lang="fr" role="form">
      {{ form.hidden_tag() }}
      <div>
        <ion-icon name="person" size="large"></ion-icon>
        <input type="email" name="email" placeholder="E-mail" pattern="[^ @]+@[^ @]+.[a-z]+[.][a-z]{2,4}" minLength="7" maxlength="255" autofocus required>
      </div>
      <div>
        <ion-icon name="lock-closed" size="large"></ion-icon>
        <input type="password" name="password" placeholder="Mot de passe" required>
      </div>
      <button couleur="validation" value="Connexion" type="submit" >Valider</button>
      <a onclick="alert('Veuillez contacter le professeur référant pour la réinitialisation de votre Mot de Passe');" >À l'aide, j'ai oublié mon mot de passe !</a>
    </form>
  </div>
{% endblock %}
