{% extends 'accueil-prof.html' %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gestion-etudiants.css') }}">
{% endblock %}

{% block title %}
  <title>Gestion Étudiants</title>
{% endblock %}

{% block contenu_onglet %}
  <div id="loading">
    <div>
      <ion-icon name="refresh"></ion-icon>
    </div>
  </div>
  <section>
    <form id="supprimer_etudiants" action="{{ url_for('delete_all_etudiants') }}" method="POST"></form>
    <button {% if not etudiants %} disabled {% endif %} onClick="if (confirm('Êtes-vous certain de vouloir supprimer tous les étudiants ? \nCette opération est irréversible !')){document.getElementById('supprimer_etudiants').submit();};" couleur="supression"><ion-icon name="trash" size="small"></ion-icon>Supprimer les étudiants</button>
    <h1>Étudiants</h1>

    <form id="export" action="{{url_for('export_etudiants')}}" method="POST" >
        <button title="Obtenir le fichier .xls avec tous les étudiants"><ion-icon name="cloud-download" size="small"></ion-icon>Exporter</button>
    </form>

    <form action="" id="form-fichier" method="POST" enctype="multipart/form-data">
      <div couleur="button" title="Importer le tableur contenant la liste des étudiants à ajouter" onClick="document.getElementById('fichier').click();">
        <input accept=".xls" onchange="importerEtudiant();" type="file" id="fichier" name="liste_etudiants"></input>
        <script type="text/javascript">
          function importerEtudiant(){
            if(document.getElementById('fichier').files){
              if(document.getElementById('fichier').files[0].name.endsWith(".xls")){
                document.getElementById('form-fichier').submit();
                document.getElementById('loading').style.display='block';
              }
            }
          }
        </script>
        <ion-icon name="cloud-upload" size="small"></ion-icon>Importer
      </div>
    </form>
    <button onClick="location.href='/etudiants/nouveau';" couleur="validation"><ion-icon name="add-circle-outline" size="small"></ion-icon>Nouveau</button>
  </section>
  {% if etudiants %}
    <form action="{{ url_for('delete_etudiant') }}" id="supprimer_etudiant" method="POST">
      <input type="hidden" name="id" id="id_etu">
    </form>
    <ul>
      {% for pers in etudiants %}
        <li>
          <section onClick="location.href='/etudiants/modifier/{{ pers.id }}';">
            {% if pers.image %}
              <img src="{{ pers.image.image }}" />
            {% else %}
              <img src="{{ url_for('static', filename='images/user.png') }}" alt="image de profil" />
            {% endif %}
            <h3>{{ pers.nom }}</h3>
            <h3>{{ pers.prenom }}</h3>
            <p>{{ pers.email }}</p>
          </section>
          <ion-icon name="trash" size="large" onClick="if(confirm('Êtes-vous certain de vouloir supprimer cet étudiant ? \nCette opération est irréversible !')){document.getElementById('id_etu').value = '{{pers.id}}'; document.getElementById('supprimer_etudiant').submit();}"></ion-icon>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Aucun étudiant dans la base de données</p>
  {% endif %}
{% endblock %}
