{% extends 'header-footer.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/accueil-etudiant.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gestion-profil-etudiant.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
  <title>Profil</title>
{% endblock %}

{% block header_liens %}
  <li><a href="{{ url_for('accueil_etudiant') }}"><ion-icon name="home" size="small"></ion-icon>Accueil</a></li>
  <li><a href="/deconnexion"><ion-icon name="log-out" size="small"></ion-icon>Déconnexion</a></li>
{% endblock %}

{% block header_titre %}
  <h3 id="header-titre">Gestion du profil</h3>
{% endblock %}

{% block main %}

  {% if message %}
    <div id="message" couleur="{{ couleur }}">
      <div>
        <p>{{ message }}</p>
        <ion-icon name="close" size="small" onclick="fermerMessage();" />
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/message.js') }}"></script>
  {% endif %}

  <section>
    <form id="formulaire_profil" action="" method="GET">
      <label for="fichier">
        <img src="{{ url_for('static', filename='images/user.png') }}" alt="image de profil">
        <input type="file" id="fichier">
      </label>

      <div>
        <label>Prénom <h3>{{ current_user.prenom }}</h3></label>
        <label>Nom <h3>{{ current_user.nom }}</h3></label>
        <label>Email <h3>{{ current_user.email }}</h3></label>
        <label>Numéro <h3>{{ current_user.id }}</h3></label>
      </div>
    </form>

    <button onclick="afficherModal('modal1');"><ion-icon name="lock-closed-outline"></ion-icon>Changer le mot de passe</button>

    <div id="modal1" class="modal">
      <section>
        <section>
          <button onclick="closeModal();"><ion-icon name="close" size="small"></ion-icon></button>
          <h2>Changez votre mot de passe</h2>
          <button onClick="document.getElementById('formulaire_nouveauMdp').submit();" couleur='validation'><ion-icon name="save" size="small"></ion-icon>Valider</button>
        </section>
        <form id="formulaire_nouveauMdp" method="POST">
          <label for="old-password">Ancien mot de passe</label>
          <input type="password" name="old-password" required />
          <label for="new-password">Nouveau mot de passe</label>
          <input type="password" name="new-password" required />
          <label for="confirm-password">Confirmation de nouveau mot de passe</label>
          <input type="password" name="confirm-password" required />
        </form>
      </section>
    </div>

    <section>
      <h2>Appliquer un thème</h2>
      <ul>
        <button onClick="attribuerTheme(this);" value="bleu" style="background-color: #426e86; color: white !important;"><ion-icon name='color-palette' size='small'></ion-icon>Bleu (par defaut)</button>
        <button onClick="attribuerTheme(this);" value="blanc" style="background-color: #e3e3e3; color: black !important;"><ion-icon name='color-palette' size='small'></ion-icon>Blanc</button>
        <button onClick="attribuerTheme(this);" value="noir" style="background-color: #3d3b3b; color: white !important;"><ion-icon name='color-palette' size='small'></ion-icon>Noir</button>
        <button onClick="attribuerTheme(this);" value="rouge" style="background-color: #9d4040; color: white !important;"><ion-icon name='color-palette' size='small'></ion-icon>Rouge</button>
        <button onClick="attribuerTheme(this);" value="vert" style="background-color:  #11813d ; color: white !important;"><ion-icon name='color-palette' size='small'></ion-icon>Vert</button>
      </ul>
    </section>
  </section>
  <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
