{% extends 'accueil-prof.html' %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/statistiques.css') }}">
{% endblock %}

{% block title %}
  <title>Statistiques</title>
{% endblock %}

{% block contenu_onglet %}
  <form method="POST" id="escape-game-select" class="search">
    <div>
      <label for='select-escape'>Escape game</label>
      <select name="select-escape" onChange="submit();">
        <option>{{ escape_selected.nom }}</option>
        {% for escape in escapes %}
          {% if escape != escape_selected %}
            <option>{{ escape.nom }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div>
    <label for="select-group">Groupe</label>
      <select name="select-group" onChange="submit();">
        <option>{{ group_selected.nom }}</option>
        {% for groupe in groupes %}
          {% if groupe != group_selected %}
            <option>{{ groupe.nom }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </form>
  {% if True %}
    <table>
      <tbody>
        <tr id="tr-escape">
          <th>Escape Game</th>
          <td>{{ escape_selected.nom }}</td>
        </tr>
        <tr id="tr-progress">
          <th>Progression</th>
          <td>{{ pourcentage }}</td>
        </tr>
        <tr id="tr-reponse">
          <th>Réponses</th>
          <td if>{{ note_sur_100 }}</td>
        </tr>
        <tr id="tr-note">
          <th>Note</th>
          <td>{{ nb_points_sur_20 }}</td>
        </tr>
        <tr id="tr-debut">
          <th>Début</th>
          <td>{{ escInstDateDebut }}</td>
        </tr>
        <tr id="tr-fin">
          <th>Fin</th>
          <td>{{ escInstDateFin }}</td>
        </tr>
      </tbody>
    </table>
  {% endif %}
{% endblock %}
